.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.tableRow {
  cursor: pointer;
}
main{
  padding: 25px;
  background-color: white;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: silver !important;
}
.form-container{

}