/*dt { display:block; float:left; width:100px; text-align: right;}*/
/*dt:after{content:':';}*/
/*dd { display:block;}*/
/**{margin:0; padding:0;}*/

.details--header
{
    font-weight: bold;
    width: 150px;
    clear:left;
    float:left;
    text-align:right;
    padding-right:5px;
}
.details--text{
    margin-left: 25px;
}
.button--container{
    margin-bottom: 25px;
}
.button{
    margin: 5px;
}